---
import { getKontakt, getFooter } from '../lib/sanity';
const { showHours = true } = Astro.props;
const kontakt = await getKontakt();
const footer = await getFooter();
---
<footer class="footer">
  <div class="container footer__inner">
    <div class="footer__brand">
      <span class="footer__mark" aria-hidden="true">
        <svg viewBox="204 302 188 240" xmlns="http://www.w3.org/2000/svg">
          <g transform="rotate(90 298 422)">
            <path fill="#FFFFFF" d="M 287.070312 335.457031 C 307.808594 335.457031 327.105469 340.011719 344.246094 349.003906 C 358.03125 356.074219 370.496094 366.144531 381.40625 378.726562 C 397.707031 397.546875 405.378906 416.367188 407.054688 420.921875 C 405.378906 425.476562 397.707031 444.292969 381.40625 463.113281 C 370.496094 475.699219 358.03125 485.765625 344.246094 492.839844 C 327.105469 501.828125 307.808594 506.382812 287.070312 506.382812 L 217.671875 506.382812 C 217.191406 502.1875 215.992188 493.796875 213.117188 482.53125 C 207.960938 462.152344 199.332031 440.816406 188.066406 420.921875 C 199.332031 401.023438 207.960938 379.6875 213.117188 359.308594 C 216.113281 347.921875 217.191406 339.652344 217.671875 335.457031 Z M 211.078125 334.738281 C 210.71875 338.574219 209.640625 346.605469 206.765625 357.753906 C 201.730469 377.53125 193.21875 398.265625 182.3125 417.683594 L 180.515625 420.921875 L 182.3125 424.15625 C 193.21875 443.574219 201.730469 464.308594 206.765625 484.089844 C 209.519531 495.117188 210.597656 503.265625 211.078125 507.101562 L 211.679688 512.976562 L 287.070312 512.976562 C 308.886719 512.976562 329.144531 508.179688 347.363281 498.710938 C 361.867188 491.160156 374.933594 480.613281 386.320312 467.425781 C 403.097656 448.128906 411.25 428.710938 413.289062 423.199219 L 414.128906 420.921875 L 413.289062 418.644531 C 411.25 413.128906 403.21875 393.710938 386.320312 374.414062 C 374.933594 361.226562 361.867188 350.679688 347.363281 343.128906 C 329.144531 333.660156 308.886719 328.863281 287.070312 328.863281 L 211.679688 328.863281 Z M 211.078125 334.738281"/>
            <path fill="#FFFFFF" d="M 286.472656 495.117188 L 287.070312 495.117188 C 290.789062 495.117188 294.503906 494.875 298.097656 494.636719 C 298.339844 494.636719 298.460938 494.515625 298.578125 494.515625 C 299.179688 494.515625 299.777344 494.394531 300.257812 494.394531 C 300.617188 494.394531 300.976562 494.277344 301.335938 494.277344 C 301.816406 494.15625 302.292969 494.15625 302.894531 494.035156 C 315.839844 492.359375 327.945312 488.644531 339.09375 482.890625 C 341.609375 481.570312 344.125 480.132812 346.523438 478.574219 L 312.484375 478.574219 L 345.925781 420.921875 L 331.660156 396.226562 L 380.804688 396.226562 C 378.40625 392.871094 375.769531 389.515625 372.894531 386.039062 C 370.976562 383.882812 368.9375 381.726562 367.019531 379.6875 L 305.53125 379.6875 L 329.503906 420.921875 Z"/>
            <path fill="#FFFFFF" d="M 295.941406 363.265625 L 346.523438 363.265625 C 344.125 361.707031 341.609375 360.269531 339.09375 358.949219 C 323.511719 350.921875 306.011719 346.726562 287.070312 346.726562 L 286.472656 346.726562 Z"/>
            <path fill="#FFFFFF" d="M 367.019531 462.152344 C 368.9375 460.117188 370.976562 457.957031 372.894531 455.800781 C 375.769531 452.324219 378.40625 448.96875 380.804688 445.613281 L 348.203125 445.613281 L 338.613281 462.152344 Z"/>
            <path fill="#BE5400" d="M 227.378906 346.726562 C 226.660156 351.28125 225.460938 356.792969 223.785156 363.265625 L 246.558594 363.265625 L 236.96875 346.726562 Z"/>
            <path fill="#BE5400" d="M 272.570312 379.6875 L 218.871094 379.6875 C 217.070312 384.960938 215.035156 390.355469 212.636719 396.226562 L 282.15625 396.226562 L 296.542969 420.921875 L 282.15625 445.613281 L 212.636719 445.613281 C 215.035156 451.484375 217.070312 457 218.871094 462.152344 L 289.109375 462.152344 L 312.960938 420.921875 L 269.933594 346.726562 L 253.511719 346.726562 Z"/>
            <path fill="#BE5400" d="M 223.785156 478.574219 C 225.460938 485.046875 226.660156 490.558594 227.378906 495.117188 L 269.933594 495.117188 L 279.519531 478.574219 Z"/>
          </g>
        </svg>
      </span>
      <p><strong>{footer.firmanavn}</strong><br/>{footer.firmaadresse}</p>
    </div>
    <div class="footer__col">
      <h4>Tjenester</h4>
      <ul>
        <li><a href="/tjenester/teglforblending">Teglforblending og muring</a></li>
        <li><a href="/tjenester/puss">Puss</a></li>
        <li><a href="/tjenester/restaurering-av-murverk">Restaurering av murverk</a></li>
        <li><a href="/tjenester/peis-og-vedovn">Peis &amp; vedovn</a></li>
        <li><a href="/tjenester/">Alle tjenester →</a></li>
      </ul>
    </div>
    <div class="footer__col">
      <h4>Bedriften</h4>
      <ul>
        <li><a href="/om-oss">Om oss</a></li>
        <li><a href="/kontakt">Kontakt</a></li>
        <li><a href={footer.facebookUrl} target="_blank" rel="noopener">Facebook</a></li>
        <li><a href={footer.instagramUrl} target="_blank" rel="noopener">Instagram</a></li>
      </ul>
    </div>
    <div class="footer__col">
      <h4>Kontakt</h4>
      <ul>
        <li><a href={`tel:${kontakt.telefonRaw}`}>{kontakt.telefon}</a></li>
        <li><a href={`mailto:${kontakt.epost}`}>{kontakt.epost}</a></li>
      </ul>
      {showHours && kontakt.apningstider && (
        <>
          <h4 class="footer__sub">Åpningstider</h4>
          <ul class="footer__hours">
            <li><span>Man–Tor</span><span>{kontakt.apningstider.manTor}</span></li>
            <li><span>Fredag</span><span>{kontakt.apningstider.fredag}</span></li>
            <li><span>Lør &amp; søn</span><span>{kontakt.apningstider.helg}</span></li>
          </ul>
        </>
      )}
    </div>
  </div>
  <div class="footer__bottom">
    <span>© <span id="year"></span> {footer.firmanavn}</span>
    <span>{footer.medlemTekst}</span>
    <span>Designet av <a href="https://nettsnekkeren.no" target="_blank" rel="noopener">Nettsnekkeren</a></span>
  </div>
</footer>
